.reading-list-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

// List options.

.list-option-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 30px;
  margin-top: 50px;

  button {
    border-radius: 0;
    border: none;
    background-color: rgb(168, 175, 155);
    padding: 20px;
    cursor: pointer;
  }
}